extends layout

block content
  .icebreaker
    .icebreaker__inner
      h4 Maak kennis
      h2 Ice-breaker
      
      form(action="/icebreaker" method="post")
        fieldset
          legend Activity
          
          label(for="home")
            input(type="radio", name="q1", value="home", id="home")
            img(src="images/camping.jpg" alt="camping")

          label(for="camping")
            input(type="radio", name="q1", value="camping" id="camping")
            img(src="images/party.jpg" alt="camping")
        
        fieldset
          legend Activity
          label(for="workout")
            input(type="radio", name="q2", value="workout", id="workout")
            img(src="images/party.jpg" alt="camping")

          label(for="movie")
            input(type="radio", name="q2", value="movie" id="movie")
            img(src="images/party.jpg" alt="camping")

        fieldset
          legend Pet
          label(for="cat")
            input(type="radio", name="q3", value="cat", id="cat")
            img(src="images/party.jpg" alt="camping")

          label(for="dog")
            input(type="radio", name="q3", value="dog" id="dog")
            img(src="images/party.jpg" alt="camping")

        input(type="submit" value="Submit")

      button Ga terug