doctype html
html
  head
    title Dating app
    link(rel='stylesheet', href='/stylesheets/output/style.css')
    meta(name="viewport" content="width=device-width, initial-scale=1")

  body(class="no-js")
    .icebreaker-overlay.icebreaker__close
    include partials/nav
    block content

    script(src="/scripts/ice-breaker.js")
