doctype html
html
  head
    title Dating app
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    nav
      ul
      - const nav = [{link: '/', text: 'Home'}, {link: 'profile', text: 'Profile'}]
      each item in nav
        li
          a(href=`${item.link}`)= item.text
    block content


