extends layout

block content
  .login-wrapper
    h1 Login
    form(action="/login" method="post")
      label(for="username") User name
      input(type="text" name="username" placeholder="Peter the Great")

      label(for="password") Password      
      input(type="password" name="password" placeholder="******")

      button(type="submit" class='btn') Login
      a(class="login-register-btn" href="/register") or register an account