.profile-header

  img
    width: 100%
    height: 300px
    object-fit: cover

.profile-intro
  display: flex
  justify-content: space-between
  align-items: center

  &__left
    h1
      margin-bottom: .3em
      margin-top: 0

    small
      font-size: 1.1rem
      max-width: 160px
      display: inline-block

  &__right
    min-width: 138px

    img
      height: 25px
      margin-right: 15px

      &:last-child
        margin-right: 0

.profile-meta
  display: flex
  margin-top: 15px

  &__item
    background: var(--color-bg)
    border-radius: 4px 
    margin-right: 15px
    padding: 10px
    width: 90px
    height: 90px
    text-align: center
    display: flex
    justify-content: center
    align-items: center
    
    &:last-child
      margin-right: 0
    
    h3
      color: var(--color-main)
      font-weight: 400
      font-size: 1rem
      margin: 0

      small
        color: var(--color-body)
        display: block
        font-weight: 500
        margin-top: 5px

.profile-about
  margin-top: 30px

  h2
    margin: 0
    margin-bottom: 8px
  p
    margin: 0

.profile-gallery
  display: flex
  flex-wrap: wrap
  margin-top: 30px
  
  img
    object-fit: cover
    height: 180px
    border-radius: 7px

    &:nth-child(1)
      margin-right: 5px

    &:nth-child(1),
    &:nth-child(2)
      width: calc(50% - 2.5px)

    &:nth-child(3)
      width: 100%
      margin-top: 5px

main.main-content
  @media(max-width: 450px)
    padding: 40px


.ice-breaker--msg
  background: var(--color-secundary)
  padding: 17px 20px 13px 20px
  border-radius: 6px 0px 0px 6px
  position: fixed
  opacity: 0
  // animation: slide-left .66s forwards 3s
  width: 100%
  text-align: center
  transition: .6s all ease
  top: 0

  opacity: 1

  .ice-breaker-r
    display: none

    img
      max-width: 100%
  
  p
    font-weight: 500
    margin: 0
    padding: 0

  &--open
    animation: morph-to-modal 2s forwards

    > p
      display: none

    .ice-breaker-r
      animation: show-modal-content .6s forwards 2s
    //   display: block


@keyframes morph-to-modal
  0%
    background: var(--color-secundary)

  50%
    background: #fff
    width: 200px
    height: 200px
    top: 50%
    transform: translateY(-50%)
    left: 0
    right: 0
    margin: 0 auto

  100%
    width: calc(100% - 80px)
    margin: 40px
    height: 80vh
    overflow: hidden
    background: #fff


@keyframes show-modal-content
  from
    display: block

  to
    display: block


@keyframes slide-left
  from
    transform: translateX(100%)
    opacity: 0

  to
    transform: translateX(0)
    opacity: 1