@import url('https://fonts.googleapis.com/css?family=Noto+Sans')

body
  padding: 50px
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
  background: #000

* 
  box-sizing: border-box
  color: hotpink