@import url('https://fonts.googleapis.com/css?family=Noto+Sans');
body {
  background: blue;
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
}
* {
  box-sizing: border-box;
  color: hotpink
}


